
  /* general */

.carousel-item {
  width: 100%;
  height: 300px;
}

.card_item {
  height: 250px; 
  width: 100%;
}

.general_container {
  width: 70%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
}

/* shopping_cart.html */

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.cart_container {
  width: 70%;
  height: 85%;    
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px rgba(118, 50, 63, 0.15);
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

/* Custom background */

.bg_blur {
   filter: blur(4px);
  -webkit-filter: blur(8px);
}

.bg_gradient1 {
  background: linear-gradient(to bottom right, #D7CEC7, #d4d4d4);
}

.bg_gradient2 {
  background: linear-gradient(to bottom right, #565656, #544b4b);
}

.bg_gradient3 {
  background: #76363F;
}

.bg_gradient4 {
  background: #C09F80;
}

.bg_image {
  background-image: url(image/background.webp);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text_color1 {
  color: #D7CEC7;
}

.text_color2 {
  color: #565656;
}

.text_color3 {
  color: #76363F;
}

.text_color4 {
  color: #C09F80;
}

.cart_body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Card*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 450px;
  max-width: 300px;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

ul {
  list-style-type: none;
}